@import '~styles/mixins/index';

.open-trading-account-footnotes {
  display: none;

  padding: 0 0 var(--spacing-5xl);

  @include desktop {
    display: block;
  }

  p {
    margin-bottom: var(--spacing-m);

    font-size: var(--font-size-m);
    font-style: italic;
  }
}
